---
layout: base
---

<style>
        body {
            background-image: url('/assets/images/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

        

  {% if page.url == "/" %}
    <div class="contact-box">
<!--       <h3>Contact Me</h3> -->
      <ul>
          <li><i class="fas fa-envelope"></i> Email: m.j.haughey@qmul.ac.uk</li>
          <li><i class="fas fa-envelope"></i> Email: magnus.haughey@gmail.com</li>
          <li><i class="fab fa-twitter"></i> <a href="https://x.com/magnushaughey" target="_blank">@magnushaughey</a></li>
          <li><i class="fab fa-github"></i> <a href="https://github.com/MagnusHaughey" target="_blank">magnushaughey</a></li>
          <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/magnushaughey/" target="_blank">magnushaughey</a></li>
      </ul>
    </div>

    <div class="left-box">
        <h3>Magnus Haughey</h3>
        <p><i>Computational biologist</i></p>
        <!-- Box around the button -->
        <div class="button-box">
            <a href="{{ '/publications/' | relative_url }}" class="btn-publications">View Publications</a>
        </div>
    </div>
 {% endif %}


</div>
